<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:roundIcon="@drawable/ic_logo"
        android:label="Smart Grocery Organizer"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.SmartGroceryOrganizer">
        <activity android:name=".DetailActivity"
            android:exported="false" />
        <activity android:name=".AnalyticsActivity"
            android:exported="false" />
        <activity android:name=".RecipesActivity"
            android:exported="false" />
        <activity android:name=".RecipeDetailsActivity"
            android:exported="false" />
        <activity android:name=".AddEditActivity"
            android:exported="false" />
        <activity android:name=".SettingsActivity"
            android:exported="false" />
        <activity android:name=".AboutActivity"
            android:exported="false" />
        <activity android:name=".CategoriesActivity"
            android:exported="false" />
        <activity android:name=".CategoryItemsActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.ACTION_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
